# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Adventures-of-blobby-def1875a992cc2e815dfe8e553ac697ba6c36bc9.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
