# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Solution1.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Project\Adventures-of-blobby\Assets\Scripts\Solution1\.idea\.idea.Solution1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
