# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.game-systems-project-yashkokane-TUD.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Sem-2\Git\game-systems-project-yashkokane-TUD\.idea\.idea.game-systems-project-yashkokane-TUD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
