# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Potions.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Project\Adventures-of-blobby\Assets\Scripts\Potions\.idea\.idea.Potions.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
