# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.Blobby.iml
# Datasource local storage ignored files
/../../../../../../../:\Sem-2\Project\Blobby\.idea\.idea.Blobby\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
